.club-container {
    background-color: #ffffff;
    padding: 20px 0 20px 0; /* Добавляем отступ сверху */


    margin: 0 auto; /* Центрируем контейнер */
    width: 80%;
}

.image-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.club-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    max-width: 746px;
    max-height: 400px;
    z-index: 0; /* Картинка на заднем плане */
}

.text-overlay {

    top: -50px; /* Сдвиг блока вверх */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 750px;
    margin-right: -20px; /* Перекрываем картинку правым краем */
    z-index: 1; /* Текст поверх изображения */
}


.text-overlay h2 {
    margin: 0;
    font-size: 24px;
}

.text-overlay p {
    margin: 10px 0;
    font-size: 16px;
    word-wrap: break-word; /* Перенос слов */
    word-break: break-all; /* Перенос длинных слов */
    max-width: 100%; /* Ограничение по ширине */
    overflow: hidden; /* Обрезка лишнего текста */
    text-overflow: ellipsis;
    display: -webkit-box; /* Для создания текстового блока */
    -webkit-line-clamp: 5; /* Максимум 5 строк */
    -webkit-box-orient: vertical;
}

.text-overlay a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.text-overlay a {
    color: black; /* Делаем текст всегда черным */
    text-decoration: underline; /* Добавляем подчеркивание */
    cursor: pointer;
}

.text-overlay a:hover {
    color: black; /* Черный цвет при наведении */
    text-decoration: underline; /* Подчеркивание остается при наведении */
}

@media (max-width: 1024px) {
    .image-container {
        flex-direction: column; /* Меняем на колонку для вертикального расположения */
    }

    .text-overlay {
        margin: 20px 0 0 0; /* Отступы сверху и снизу */
        max-width: 100%; /* Чтобы текстовый блок занимал всю ширину */
        top: 0; /* Убираем сдвиг */
    }

    .club-image {
        max-width: 100%; /* Картинка адаптируется к ширине экрана */
        max-height: 300px; /* Меняем высоту для мобильных устройств */
    }
}

/* Адаптация для совсем маленьких экранов */
@media (max-width: 600px) {
    .text-overlay {
        padding: 15px;
        font-size: 14px; /* Уменьшаем шрифт для мобильных */
    }

    .club-image {
        max-height: 200px;
    }
}
