.news-section {
    background-color: #ffffff;
    width: 80%;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    flex-wrap: wrap;
}
.news-section h1{
    margin-left: 20px;
}

.more-button {
    background-color: #E62526; /* Цвет кнопки */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px
}

.news-cards-container {
    margin: 0 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Разделяет карточки */
    gap: 30px; /* Промежуток между карточками */
}