.container-news {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.search-input {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.news-section {
    background-color: #ffffff;
    flex: 1;
    flex-wrap: wrap;
    width: 80vw;
}

.news-section h1 {
    margin-left: 20px;
}

.news-title {
    font-size: 20px;
    color: #E62526;
   
}

.news-text {
    font-size: 14px;
    color: #333;
}

.news-cards-container {
    margin: 0 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Уменьшите зазор между карточками */
}

.news-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: row;
    width: calc(33.33% - 20px); /* Занимает 33.33% ширины с учётом отступов */
}

.news-card:hover {
    transform: scale(1.05);
}

.news-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.news-content-text {
    padding: 15px;
    flex-grow: 1;
}

.news-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
}

@media screen and (max-width: 800px) {
    .news-cards-container {
        flex-direction: column;
    }

    .news-card {
        width: 100%; /* Занимает 100% ширины на узких экранах */
    }
}

@media screen and (max-width: 400px) {
    .news-image {
        width: 80px;
        height: 80px;
    }

    .news-title {
        font-size: 15px;
    }

    .news-text {
        font-size: 12px;
    }
}

.news-card a {
    text-decoration: none;
    color: inherit;
}

.news-card {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Наследует цвет от родительского элемента */
}

.news-card:hover {
    color: #E62526; /* Меняет цвет при наведении, можно настроить по вашему желанию */
    transform: scale(1.05); /* Эффект увеличения при наведении */
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #ff0000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute; /* Задаем абсолютное позиционирование */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем влево и вверх на 50% от его размеров */
}

@media (max-width: 480px) {
    .loading-spinner {
        width: 30px;
        height: 30px;
    }
}



.news-time{
    font-size: 13px;
}