.container-news {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.search-input {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.news-section {
    background-color: #ffffff;
    flex: 1;
    flex-wrap: wrap;
    max-width: 80%;
}

.news-section h1 {
    margin-left: 20px;

}

.news-cards-container {
    margin: 0 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px; /* Уменьшите зазор между карточками */
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #ff0000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute; /* Задаем абсолютное позиционирование */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем влево и вверх на 50% от его размеров */
}

@media (max-width: 480px) {
    .loading-spinner {
        width: 30px;
        height: 30px;
    }
}



.news-time{
    font-size: 13px;
}