.container-shop {
    background-image: url('../../images/memories-on-35mm-d8cwbw41IO8-unsplash.jpg');
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 80vw;
    color: white;
    flex-direction: column;
}

.shop-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* расстояние между карточками */
    flex: 1;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #ff0000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
    .loading-spinner {
        width: 30px;
        height: 30px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button {
    background: linear-gradient(45deg, #e63946, #770505); /* Градиент от красного к оранжевому */
    color: white;
    border: none;
    border-radius: 5px; /* Скругленные углы */
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pagination button:hover {
    transform: scale(1.1); /* Увеличение при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pagination button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pagination button.active {
    background: linear-gradient(45deg, #d62828, #fcbf49); /* Активная кнопка с другим градиентом */
}
