body {
    font-family: 'Inter', sans-serif; /* Установка шрифта Inter */
}

body, html {
    overflow-x: hidden; /* Отключаем горизонтальный скролл */
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем отступы */
  }