venv
.idea
__pycache__

server/pswd
server/news_microservice/.env_main
.env
nginx.conf

start_services.bat
tempCodeRunnerFile.bat

et --soft b73a6758e2952a43aff7eb2923154f61203d85a1

client/certificates