
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  flex: 1;
  min-height: 90vh;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  width:80vw;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #ff0000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute; /* Задаем абсолютное позиционирование */
  top: 50%; /* Центрируем по вертикали */
  left: 50%; /* Центрируем по горизонтали */
  transform: translate(-50%, -50%); /* Сдвигаем влево и вверх на 50% от его размеров */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Адаптивные стили для iframe */
iframe {
  max-width: 100% !important; /* Заставляет iframe быть адаптивным */
  height: auto; /* Автоматически подстраивает высоту */
  aspect-ratio: 16/9; /* Сохраняет соотношение сторон */
}
.TraslateVk.hidden {
  display: none;
}

.videosVk.hidden {
  display: none;
}

.hiddenToo.hidden{
  display: none;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .loading-spinner {
      width: 40px;
      height: 40px;
  }

  .content {
      min-height: 400px; /* Уменьшаем минимальную высоту для планшетов */
  }
}

@media (max-width: 480px) {
  .loading-spinner {
      width: 30px;
      height: 30px;
  }

  .content {
      min-height: 300px; /* Уменьшаем минимальную высоту для мобильных устройств */
  }
}


.TraslateVk{
  width: 100%; /* Занимает всю ширину */
}

.lastephire {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
  justify-content: center; /* Центрируем видео по горизонтали */
}

.ephir-1 {
  flex: 1 1 calc(25% - 20px); /* Занимает 25% ширины минус отступ */
  max-width: calc(25% - 20px); /* Максимальная ширина */
  margin: 10px; /* Отступ между видео */
  box-sizing: border-box; /* Учитываем отступы в ширине */
}

/* Адаптивные стили для уменьшения количества элементов в ряд */
@media (max-width: 1200px) {
  .ephir-1 {
      flex: 1 1 calc(33.33% - 20px); /* 3 элемента в ряд для экранов меньше 1200px */
      max-width: calc(33.33% - 20px);
  }
}

@media (max-width: 800px) {
  .ephir-1 {
      flex: 1 1 calc(50% - 20px); /* 2 элемента в ряд для экранов меньше 800px */
      max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .ephir-1 {
      flex: 1 1 100%; /* 1 элемент в ряд для мобильных устройств */
      max-width: 100%;
  }
}