django
channels
djangorestframework
djangorestframework-simplejwt
channels-redis
psycopg2-binary
drf_yasg
drf-spectacular
locust # для нагрузочного тестирования
django-silk # профилировщик
Pillow
django-cors-headers
smtplib # для проверки email
dnspython # для проверки email
