.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Центрируем спиннер в середине экрана */
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #E62526; /* Красный цвет для индикатора */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


  
  .match-table-container {
    margin: 20px auto;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f9f9f9;
}

.match-table {
    width: 100%;
    border-collapse: collapse;
}

.match-table th, .match-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.match-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #333;
}

.match-table td {
    color: #555;
}

.match-table tr:last-child td {
    border-bottom: none;
}

.team-logo {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    vertical-align: middle;
    border-radius: 50%;
}
