/* TeamAdmin.css */
.team-admin-container {
    margin: 80px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.team-admin-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.team-admin-input, .team-admin-select {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
label{
    padding-right: 10px;
}

.team-admin-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.team-admin-button:hover {
    background-color: #45a049;
}

/* Список игроков */
.players-admin-list {
    margin-top: 30px;
}

.players-admin-list-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.players-admin-list-items {
    list-style: none;
    padding: 0;
}

.players-admin-list-item {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.players-admin-list-item-content {
    flex: 1;
}

.players-admin-list-item h4 {
    margin: 0;
    font-size: 18px;
}

.players-admin-list-item-actions {
    display: flex;
    align-items: center;
}

.edit-button, .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.edit-button svg {
    fill: #4CAF50;
}

.delete-button svg {
    fill: #ff3333;
}

.error-message, .success-message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.error-message {
    background-color: #ffdddd;
    color: #ff3333;
    animation: fadeOut 4s forwards;
}

.success-message {
    background-color: #ddffdd;
    color: #4CAF50;
    animation: fadeOut 4s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

/* Адаптивность */
@media (max-width: 768px) {
    .players-admin-list-item {
        flex-direction: column;
        align-items: center;
    }
}
.uploaded-admin-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-top: 10px;
}

.player-admin-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
