.footer {
    background: linear-gradient(240deg, #a50b0b, #d11d1d); /* Градиент */
    color: white;
    padding: 5px 0 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: static;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:  1291px;
    width: 100%;
    padding: 0 40px 0 40px;
  }

  .social-icons i {
    /* margin: 0 10px; */
    font-size: 24px;
  }

  .footer p {
    font-weight: bold;
    text-transform: uppercase;
  }


.contacts_koks{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.icon_section img {
    margin-right: 5px;
    height: 19px;

}
.icon_section a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 500px) {
    .footer{
        font-size: 13px;
    }
}
@media screen and (max-width: 400px) {
    .footer{
        font-size: 9px;
    }
    .icon_section button{
        padding: 5px;
    }
}