.container_matches {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: white;
    width: 80%; /* Ширина контейнера */
    padding: 20px 0; /* Отступы сверху и снизу */
}

.card, .stats-card {
    position: relative;
    border-radius: 8px;
    margin: 15px;
    text-align: center;
    width: 364px; /* Фиксированная ширина для карточки */
    height: 248px; /* Фиксированная высота для карточки */
    background-color: #FFFFFF;

    background-image: url("../images/Subtract.png");
    background-size: cover; /* Рамка адаптируется по ширине */
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Выравнивание содержимого */
}

.labelMatchPreview, .statsMatchPreview {
    position: absolute;
    top: -15px; /* Впадина для заголовка */
    width: 100%;
    font-size: 18px; /* Уменьшен размер шрифта */
    margin-top: 0;
    text-align: center;
}

.divisionPreview {
    margin: 8px auto 0 auto;
    font-size: 16px; /* Уменьшен размер шрифта */
    max-width: 90%; /* Ограничиваем ширину для длинных названий */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h4 {
    color: #E62526;
    margin: 0 2px;
    font-size: 24px; /* Уменьшен размер заголовка */
}

.logosTeamPreview {
    width: 40px; /* Размер логотипа */
    height: 40px;
    border-radius: 50%; /* Округление */
}

.card-content {
    padding: 10px; /* Уменьшены отступы */
    flex-grow: 1; /* Чтобы содержимое занимало доступное пространство */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Вертикально выравниваем содержимое */
    align-items: center;
}

h6 {
    margin: 10px 0;
    font-size: 16px; /* Уменьшен размер шрифта */
}

p {
    font-size: 14px; /* Уменьшен размер шрифта */
    margin: 5px 0;
}

.stats-card-content {
    margin-top: 40px;
}

/* Адаптивность */
@media screen and (max-width: 480px) {

    .card, .stats-card {
        width: 80%; /* Адаптивная ширина для карточки */
        height: auto; /* Высота будет изменяться в зависимости от содержимого */
        max-width: 310px; /* Ограничиваем максимальную ширину для маленьких экранов */
        margin: 10px; /* Уменьшаем отступы */
        padding: 10px; /* Уменьшаем отступы */
        background-image: none;
        border: 1px solid black;
    }

    .labelMatchPreview, .statsMatchPreview {
        font-size: 15px;
        top: 0;
        position: static;
    }

    .divisionPreview {
        font-size: 14px; /* Уменьшен размер текста */
        margin-top: 15px; /* Отступ сверху */
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h4 {
        font-size: 5vw; /* Масштабируем заголовок */
    }

    p {
        font-size: 3vw; /* Масштабируем текст */
    }

    .logosTeamPreview {
        width: 30px; /* Уменьшаем размер логотипа */
        height: 30px;
    }
}
