.count {
    font-size: 80px;
    margin: 0 20px;
    color: white;
    text-align: center;
}
.titleMatch{
    font-size: 25px;
    color: white;
    text-align: center;
}
.dateInfo{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .matchBlock .titleMatch {
        font-size: 17px;
        font-weight: normal;
    }
    .matchBlock .dateInfo div {
        font-size: 18px;
        font-weight: normal;
    }
    .matchBlock .count{
        font-size: 33px;
    }
    .logosTeams img {
        width: 40px;
    }
}


.styled-button {
    padding: 15px 120px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Адаптивные стили для экранов меньшего размера */
@media (max-width: 768px) {
    .styled-button {
        padding: 10px 60px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .styled-button {
        padding: 8px 40px;
        font-size: 16px;
    }
}

.styled-button:hover {
    background-color: rgb(255, 107, 107); /* Цвет при наведении */
    transform: translateY(-2px); /* Поднимаем кнопку немного вверх */
}

.styled-button:active {
    background-color: rgb(255, 0, 0);  /* Цвет при нажатии */
    transform: translateY(1px); /* Опускаем кнопку вниз */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
