.news-section {
    background-color: #ffffff;
    width: 80%;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    
}

.news-section h1{
    margin-left: 20px;
}

.news-title {
    font-size: 18px;
    color: #E62526; /* Цвет заголовка */
    margin-bottom: 10px;
}

.news-text {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.more-button {
    background-color: #E62526; /* Цвет кнопки */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px
}

.news-cards-container {
    margin: 0 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between; /* Разделяет карточки */
    gap: 30px; /* Промежуток между карточками */
}

.news-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    
    flex-direction: row;
    width: calc(45% - 15px); /* Занимает 50% ширины с учётом отступов */
}

.news-card:hover {
    transform: scale(1.05); /* Эффект при наведении */
}

.news-content-text {
    padding: 15px;
    flex-grow: 1; /* Позволяет текстовому блоку занимать оставшуюся ширину */
}

.news-image {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Обеспечивает обрезку изображения по размеру блока */
}

.news-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
}
@media screen and (max-width: 800px){
    .news-cards-container {
        flex-direction: column;
    }
    .news-card{
        width: 100%;
    }
}
@media screen and (max-width: 400px){
    .news-image {
        width: 80px;
        height: 80px;
        object-fit: cover; /* Обеспечивает обрезку изображения по размеру блока */
    }
    .news-title{
        font-size: 15px;
    }
    .news-text{
        font-size: 12px;
    }
}