.shop-card{
    height: 587px;
    width: 376px;
}


.redline{
    z-index: 0;
}


.shopcard-preview-text{
    z-index: 1;
}

.shopcard-img{
    z-index: 1;
}

/* ShopCard.css */

.shopcard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Относительное позиционирование для правильного наложения элементов */
    width: 100%; /* Занимаем всю доступную ширину */
    height: 100%; /* Фиксированная высота контейнера */
    overflow: hidden; /* Скрываем всё, что выходит за пределы контейнера */
    box-sizing: border-box; /* Включаем padding в расчёт размеров */
}

.shopcard-img {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    
    z-index: 1; /* Задаем уровень наложения, чтобы изображение было поверх фона */
}

.redline {
    
    
    z-index: 0; /* Задаем уровень наложения, чтобы линия была позади остальных элементов */
    width: 100%; /* Делаем линию по ширине контейнера */
    height: 100%; /* Делаем линию по высоте контейнера */
}

.shopcard-preview-text {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    bottom: 70px; /* Отступ от нижней части контейнера */
    text-align: center;
    z-index: 2; /* Текст должен находиться поверх линии и изображения */
    color: #333;
}

.shopcard-title {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

.shopcard-description {
    font-size: 14px;
    color: #666;
}

.shopcard-action {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    bottom: 20px; /* Отступ от нижней части контейнера */
    display: flex;
    justify-content: center;
    z-index: 3; /* Кнопка должна находиться поверх всех остальных элементов */
}

.shop-order-button {
    background-color: #d32f2f; /* Красный цвет кнопки */
    color: white;
    font-weight: bold;
    text-transform: none;
    border-radius: 20px;
    padding: 8px 20px;
    transition: background-color 0.3s ease;
}

.shop-order-button:hover {
    background-color: #b71c1c; /* Более тёмный красный при наведении */
}
