.shop-container{
    background-image: url('../images/memories-on-35mm-d8cwbw41IO8-unsplash.jpg');
    width: 97vw;
    min-height: 934px;
    height: 100%;
    background-size: cover; /* Растягивает изображение по всему блоку */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем элементы */
    padding: 20px;
    position: relative;

}

.shop-container::before {
    content: '';
  position: absolute; /* Позиционируем над фоном */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4); 
  backdrop-filter: blur(10px); 
  z-index: 0;
  }



.shop-content{
    z-index: 1;
}

a {
    color: black; /* Делаем текст всегда черным */
    text-decoration: underline; /* Добавляем подчеркивание */
    cursor: pointer;
    z-index: 1;
}

a:hover {
    color: black; /* Черный цвет при наведении */
    text-decoration: underline; /* Подчеркивание остается при наведении */
    z-index: 1;
}


.shop-item {
    position: relative; /* Позволяет позиционировать дочерние элементы */
    width: 100%; /* Ширина карточки будет занимать 100% родителя */
    max-width: 300px; /* Максимальная ширина карточки */
    margin: 10px; /* Отступ между карточками */
    overflow: hidden; /* Скрывает части изображения, выходящие за пределы карточки */
    border-radius: 10px; /* Радиус скругления углов карточки */
    display: flex; /* Используем flexbox для размещения элементов */
    flex-direction: column; /* Элементы располагаются вертикально */
}

.shop-image {
    width: 100%; /* Ширина картинки будет занимать 100% ширины карточки */
    height: 300px; /* Увеличенная высота для изображения */
    object-fit: cover; /* Заполняет контейнер, сохраняя пропорции */
    align-self: flex-start; /* Выравнивает изображение по верхнему краю карточки */
}

.shop-content {
    padding: 16px; /* Отступы внутри карточки */
    flex-grow: 1; /* Позволяет контенту занимать оставшееся пространство */
}

.shop-description {
    margin: 8px 0; /* Отступы между заголовком и описанием */
}

.shop-button {
    margin-top: 10px; /* Отступ сверху для кнопки */
}




  


  .shop-box{
   
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем элементы */
    padding: 20px;
    position: relative;
    z-index: 1;
  }